*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8F3EA;
}

nav{
    padding: 20px;
    height: 15vh;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 5%;
}

nav ul li img{
    width: 100px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    height: 85%;
}

.leftmain{
    width: 30%;
}

.leftmain h1{
    font-size: 60px;
}

.leftmain p{
    margin: 5% 0;
}

.leftmain button{
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: #3b855b;
    border-radius: 15px;
}

.rightmain{
    width: 70%;
    padding-left: 7%;
}

