

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}



.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

body{
    width: 100vw;
    height: 100vh;
    position: fixed;
    
    
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 900;
}

li{
    list-style: none;
}

header{
    margin-bottom: 200px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

nav ul{
    display: flex;
    gap: 30px;
}

main{
    display: flex;
   

    /* gap: 100px; */
}

main .left-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 30%;
}

main .left-main h1{
    font-size: 40px;
    font-weight: 900;
}

main .left-main p{
    font-size: 12px;
}

main .left-main .left-main-btn{
    display: flex;
    align-items: center;
    gap: 180px;
}

main .left-main .left-main-btn button{
    background-color: #20bc7e;
    color: #fff;
    padding: 3px 20px;
    width: 200px;
    border-radius: 30px;
    border: none;
    font-weight: 900;
}
.stethoscope {
    position: absolute;
    width: 30%;
    top: 200px;
    right: 50%;
    z-index: -1;
  }

.mouse{
    position: relative;
    left: 40px;

}

main .right-main{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 330px;
    bottom: 150px;
   
}


main .right-main .green{
    position: relative;
    left: 220px;
    top: 120px;
}

main .right-main .yellow{
    position: relative;
    left: 250px;
    bottom: 190px;
}

main .right-main .doctor{
    position: relative;
    bottom: 850px;
    left: 150px;
}

