@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Labrada:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,900;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url("../assets/image3.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

li{
    list-style: none;
}

a{
 text-decoration: none;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 60px 0 60px;
}

nav .menu ul{
    display: flex;
    gap: 60px;
    align-items: center;
}

nav .menu ul li a{
    color: #DBBB69;
    font-weight: 600;
}

nav .menu ul li a:hover{
    text-decoration: underline;
}

.btn{
    background-color:  rgb(204, 65, 76);
    padding: 10px 25px;
    color: white;
    border: none;
    box-shadow: 0px 10px 5px rgb(204, 65, 76);
    cursor: pointer;
    font-size:20px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    justify-content: center;
}

section .heading h1{
    font-size: 90px;
    color: #DBBB69;
    font-weight: 900;
    text-align: center;
     margin-bottom: 30px;
}

section .btn{
    font-size: 25px;
    
}

footer{
    display: flex;
    justify-content: flex-end;
}

